In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/ky_louisville_2020_04_01.csv')

In [3]:
df = df.drop(columns=['raw_row_number', 'location', 'raw_activity_division', 'raw_division', 'raw_activity_beat', 'raw_beat', 'raw_persons_race', 'raw_persons_ethnicity', 'raw_driver_age_range', 'raw_citation_location'])

In [4]:
df = df.rename(columns={'subject_sex': 'subject_gender', 'officer_sex': 'officer_gender', 'raw_was_vehcile_searched': 'vehicle_searched'})

In [5]:
df = df.drop(columns='type')

In [6]:
df['date'] = pd.to_datetime(df['date'])

In [7]:
df['year']= df['date'].dt.year
df['month']= df['date'].dt.month
df['day']= df['date'].dt.day

In [8]:
df['hour'] = pd.to_datetime(df['time']).dt.hour

In [9]:
df['frisked'] = df['frisk_performed'].map({True: 1, False: 0})

In [10]:
df['vehicle_searched'] = df['vehicle_searched'].map({'YES': 1, 'NO': 0})

In [11]:
df['searched'] = df['search_conducted'].map({True: 1, False: 0})

In [12]:
df['citation_issued'] = df['citation_issued'].map({True: 1, False: 0})

In [13]:
df['outcome'] = df['outcome'].map({'citation': 1, 'warning': 0})

In [14]:
df = df.drop(columns='subject_race')

In [15]:
df['subject_race'] = df['raw_driver_race']

In [16]:
df = df.drop(columns='raw_driver_race')

In [17]:
df['subject_race'] = df['subject_race'].map({'BLACK': 'Black', 'WHITE': 'white', 'HISPANIC': 'Latino', 'MIDDLE EASTERN DESCENT': 'Middle Eastern', 'ASIAN/PACIFIC ISLANDER': 'Asian', 'INDIAN/INDIA/BURMESE': 'Asian', 'AMERICAN INDIAN': 'Native American', 'ALASKAN NATIVE': 'Native American', 'UNKNOWN': 'Unknown'})

In [18]:
df['officer_race'] = df['officer_race'].map({'asian/pacific islander': 'Asian', 'black': 'Black', 'hispanic': 'Latino', 'other': 'Other', 'white': 'white'})

In [19]:
df = df.drop(columns=['warning_issued', 'outcome', 'vehicle_searched', 'search_conducted', 'frisk_performed'])

In [20]:
df = df.rename(columns={'subject_age': 'citizen_age', 'subject_gender': 'citizen_gender', 'subject_race': 'citizen_race'})

In [21]:
df = df[['year', 'month', 'day', 'hour', 'citizen_race', 'citizen_gender', 'citizen_age' , 'officer_race', 'officer_gender', 'division', 'beat', 'violation', 'frisked', 'searched', 'citation_issued', 'date', 'time', 'lat', 'lng']]

In [22]:
df.head()

,year,month,day,hour,citizen_race,citizen_gender,citizen_age,officer_race,officer_gender,division,beat,violation,frisked,searched,citation_issued,date,time,lat,lng
0,2015.0,1.0,1.0,22.0,white,male,53.0,Asian,female,6TH DIVISION,BEAT 1,FAIL OF NON-OWNER/OPER TO MAINTAIN REQ INS/SEC...,0,0,1,2015-01-01,22:39:00,38.210850,-85.740058
1,2015.0,1.0,2.0,16.0,white,male,NaN,Asian,female,6TH DIVISION,BEAT 5,NaN,0,0,1,2015-01-02,16:42:00,38.203829,-85.665319
2,2015.0,1.0,2.0,20.0,Black,female,NaN,Asian,female,6TH DIVISION,BEAT 5,NaN,0,0,0,2015-01-02,20:00:00,38.205311,-85.650115
3,2015.0,1.0,2.0,20.0,Black,male,24.0,Asian,female,6TH DIVISION,BEAT 5,OPERATING ON SUSPENDED/REVOKED OPERATORS LICEN...,0,1,1,2015-01-02,20:35:00,38.202592,-85.654212
4,2015.0,1.0,11.0,17.0,Black,male,24.0,Asian,female,6TH DIVISION,BEAT 2,NO OR EXPIRED REGISTRATION PLATES|FAILURE OF O...,0,0,1,2015-01-11,17:20:00,38.156730,-85.696997