In [51]:
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt

In [52]:
df = pd.read_csv('data/clean_stop_data.csv')

In [53]:
df.head()

,year,month,day,hour,citizen_race,citizen_gender,citizen_age,officer_race,officer_gender,division,beat,violation,frisked,searched,citation_issued,date,time,lat,lng
0,2015.0,1.0,1.0,22.0,white,male,53.0,Asian,female,6TH DIVISION,BEAT 1,FAIL OF NON-OWNER/OPER TO MAINTAIN REQ INS/SEC...,0,0,1,2015-01-01,22:39:00,38.210850,-85.740058
1,2015.0,1.0,2.0,16.0,white,male,NaN,Asian,female,6TH DIVISION,BEAT 5,NaN,0,0,1,2015-01-02,16:42:00,38.203829,-85.665319
2,2015.0,1.0,2.0,20.0,Black,female,NaN,Asian,female,6TH DIVISION,BEAT 5,NaN,0,0,0,2015-01-02,20:00:00,38.205311,-85.650115
3,2015.0,1.0,2.0,20.0,Black,male,24.0,Asian,female,6TH DIVISION,BEAT 5,OPERATING ON SUSPENDED/REVOKED OPERATORS LICEN...,0,1,1,2015-01-02,20:35:00,38.202592,-85.654212
4,2015.0,1.0,11.0,17.0,Black,male,24.0,Asian,female,6TH DIVISION,BEAT 2,NO OR EXPIRED REGISTRATION PLATES|FAILURE OF O...,0,0,1,2015-01-11,17:20:00,38.156730,-85.696997

In [54]:
overview = df.groupby('citizen_race').aggregate(np.sum)[['frisked', 'searched', 'citation_issued']]

In [55]:
stops = pd.Series(df.citizen_race.value_counts())
overview['stops'] = stops
overview = overview[['stops', 'searched', 'frisked', 'citation_issued']]
overview['pop'] = pd.Series({'Black': 171781, 'white': 546872, 'Native American': 1302, 'Asian': 22829, 'Latino': 45355, 'Middle Eastern': 'NaN', 'Unknown': 'Nan'})

In [56]:
overview['% frisked'] = overview['frisked'] / overview['stops']
overview['% searched'] = overview['searched'] / overview['stops']
overview['% cited'] = overview['citation_issued'] / overview['stops']

In [57]:
overview

,stops,searched,frisked,citation_issued,pop,% frisked,% searched,% cited
citizen_race,,,,,,,,
Asian,411,25,0,60,22829,0.000000,0.060827,0.145985
Black,34943,3125,9,23494,171781,0.000258,0.089431,0.672352
Latino,4843,254,0,3536,45355,0.000000,0.052447,0.730126
Middle Eastern,444,38,0,57,NaN,0.000000,0.085586,0.128378
Native American,65,2,0,50,1302,0.000000,0.030769,0.769231
Unknown,2,0,0,2,Nan,0.000000,0.000000,1.000000
white,69340,3435,7,54073,546872,0.000101,0.049539,0.779824

In [67]:
overview_3 = df.groupby(['officer_race', 'citizen_race']).aggregate(np.sum)[['frisked', 'searched', 'citation_issued']]

In [68]:
overview_3['stops'] = df.groupby(['officer_race', 'citizen_race'])['year'].count()

In [70]:
overview_3['% frisked'] = overview_3['frisked'] / overview_3['stops']
overview_3['% searched'] = overview_3['searched'] / overview_3['stops']
overview_3['% cited'] = overview_3['citation_issued'] / overview_3['stops']

In [86]:
overview_3

                              frisked  searched  citation_issued  stops  \
officer_race citizen_race
Asian        Asian                  0         0                0      7
             Black                  0        77              255    565
             Latino                 0         8               37     74
             Middle Eastern         0         0                0      2
             white                  0        74              330    764
Black        Asian                  0         1                3     46
             Black                  2       383             5124   6733
             Latino                 0        13              686    800
             Middle Eastern         0         4                9     84
             Native American        0         0               13     16
             Unknown                0         0                1      1
             white                  0       399            11919  13663
Latino       Asian                  0         0                0     11
             Black                  0        48               79    279
             Latino                 0        10               20     54
             Middle Eastern         0         1                1     11
             white                  0        77              126    368
Other        Black                  0         1                6     19
             Latino                 0         0                0      2
             Middle Eastern         0         0                0      1
             white                  0         1                3     21
white        Asian                  0        24               57    344
             Black                  7      2605            18015  27285
             Latino                 0       218             2793   3904
             Middle Eastern         0        33               47    345
             Native American        0         2               37     49
             Unknown                0         0                1      1
             white                  7      2878            41683  54446

                              % frisked  % searched   % cited
officer_race citizen_race
Asian        Asian             0.000000    0.000000  0.000000
             Black             0.000000    0.136283  0.451327
             Latino            0.000000    0.108108  0.500000
             Middle Eastern    0.000000    0.000000  0.000000
             white             0.000000    0.096859  0.431937
Black        Asian             0.000000    0.021739  0.065217
             Black             0.000297    0.056884  0.761028
             Latino            0.000000    0.016250  0.857500
             Middle Eastern    0.000000    0.047619  0.107143
             Native American   0.000000    0.000000  0.812500
             Unknown           0.000000    0.000000  1.000000
             white             0.000000    0.029203  0.872356
Latino       Asian             0.000000    0.000000  0.000000
             Black             0.000000    0.172043  0.283154
             Latino            0.000000    0.185185  0.370370
             Middle Eastern    0.000000    0.090909  0.090909
             white             0.000000    0.209239  0.342391
Other        Black             0.000000    0.052632  0.315789
             Latino            0.000000    0.000000  0.000000
             Middle Eastern    0.000000    0.000000  0.000000
             white             0.000000    0.047619  0.142857
white        Asian             0.000000    0.069767  0.165698
             Black             0.000257    0.095474  0.660253
             Latino            0.000000    0.055840  0.715420
             Middle Eastern    0.000000    0.095652  0.136232
             Native American   0.000000    0.040816  0.755102
             Unknown           0.000000    0.000000  1.000000
             white             0.000129    0.052860  0.765584

In [ ]:
# https://stackoverflow.com/questions/24179284/accessing-hierarchical-columns-in-pandas-after-groupby

In [133]:
Asian_pct_searched = (overview_3.loc['Asian', '% searched'] * 100).round(2)
Black_pct_searched = (overview_3.loc['Black', '% searched'] * 100).round(2)
Latino_pct_searched = (overview_3.loc['Latino', '% searched'] * 100).round(2)
white_pct_searched = (overview_3.loc['Latino', '% searched'] * 100).round(2)

In [137]:
Asian_pct_searched[2]

10.81

In [134]:
labels = ['Asian officers', 'Black officers', 'Latino officers', 'white officers']
Asian_pct_searched[0,1,2]
Black_pct_searched[0,1,2]
Latino_pct_searched[0,1,2]
white_pct_searched[0,1,2]

x = np.arange(len(labels))  # the label locations
width = 0.35  # the width of the bars

fig, ax = plt.subplots()
rects1 = ax.bar(x - width/4, Asian_pct_searched, width, label='Asian')
rects2 = ax.bar(x + width/4, Black_pct_searched, width, label='Black')
rects3 = ax.bar(x + width/4, Latino_pct_searched, width, label='Latino')
rects4 = ax.bar(x + width/4, white_pct_searched, width, label='white')


# Add some text for labels, title and custom x-axis tick labels, etc.
ax.set_ylabel('Percent')
ax.set_title('Percent searched by race')
ax.set_xticks(x)
ax.set_xticklabels(labels)
ax.legend()


def autolabel(rects):
    """Attach a text label above each bar in *rects*, displaying its height."""
    for rect in rects:
        height = rect.get_height()
        ax.annotate('{}'.format(height),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(0, 3),  # 3 points vertical offset
                    textcoords="offset points",
                    ha='center', va='bottom')


autolabel(rects1)
autolabel(rects2)

fig.tight_layout()

plt.show()

KeyError: 'key of type tuple not found and not a MultiIndex'